. {
    width: auto;
    height: 66px;
}

.logos {
    display: flex;
    justify-content: space-around; 
    align-items: center;
}
.info {
    text-align: center;
    color: rgb(189, 188, 188);
}

.booking, .kaya, .price, .agoda, .open, .renta {
    width: 200px;
}
