* {
  margin: 0;
  box-sizing: border-box;
}
section {
  background-color: #fff;
  display: flex;
  justify-content: center;
}

img {
  width: 200px;
  height: 200px;
  object-fit: cover;
}
.name {
  color: #006ce4;
}

p {
  font-family: "Segoe UI";
  font-weight: bold;
}

.reserva {

}

button {
  font-size: 30px;
  width: 235px;
  height: 65px;
  background-color: #006ce4;
  color: #fff;
  border-radius: 4px;
  border: 1px solid #006ce4;
  display: flex;
  justify-content: center;
  align-items: center;
 
}

button:hover {
  background-color: rgba(0, 59, 149, 0.8);
}

